body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: rosybrown;
}
h1 {
	font-size: 3rem;
	color: #fff;
	text-align: center;
	animation-name: inbox;
	animation-duration: 4s;
}
.container {
	margin: 0 auto;
	padding: 20px;
	width: 900px;
	height: 900px;
	background-color: palegoldenrod;
	border-radius: 10%;
}

.container .buttons {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.container .buttons button {
	width: 150px;
	height: 60px;
	background: green;
	border-radius: 25%;
	font-size: 2rem;
	color: white;
	opacity: 0.5;
}
.container .buttons button:hover {
	opacity: 1;
}
.container .screen {
	display: grid;
	width: 800px;
	height: 650px;
	border: 5px solid green;
	margin: 20px auto;
}
#move {
	width: 100px;
	height: 100px;
	/* 	background-color: red; */
	position: relative;
	animation-name: movement;
	animation-iteration-count: infinite;
	animation-duration: 15s;
	border-radius: 50%;
	opacity: 0.5;
	font-size: 2rem;
	padding-left: 15px;
}
@keyframes movement {
	0% {
		left: 0px;
		top: 0px;
	}
	25% {
		left: 1300px;
		top: 0px;
	}
	50% {
		left: 1300px;
		top: 1000px;
	}
	75% {
		left: 0px;
		top: 1000px;
	}
	100% {
		left: 0px;
		top: 0px;
	}
}
@keyframes inbox {
	0% {
		left: 300px;
	}

	50% {
		left: 800px;
	}

	100% {
		left: 300px;
	}
}
